# dependencies
/node_modules
/.pnpm-store

# Next.js build outputs
/.next/
/out/
/build

# production / local environments
.env*.local

# debug logs and system files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
*.pem

# testing coverage
/coverage

# IDE / editor caches
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project-specific system folders
.kilocode/
.system_generated/
.tempmediaStorage/
